



.row > .col,
.row > [class*='col-'] {
    padding-right: 10px;
    padding-left: 10px;
}


#my-table {
    width: 100%;
}





.input-form-pesi {
	max-width: 150px;
}


.input-form{
	width: 100%;
}


.btn{
	width: 100%;
	margin-top: 5px;
}



.label {
    padding-right: 10px;
}
.text-right {
    text-align: right;
}
.input-group .col-6 {
    width: 50%;
}
.dash-core-components .Select, .dash-core-components .Select div, .dash-core-components .Select input {
    width: 100% !important;
}
.dash-core-components .Select.is-focused:not(.is-open) > .Select-control {
    border-color: #96d38c !important;
    box-shadow: none !important;
}



.align-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.my-table th, .my-table td {
	text-align: right;
}


.sezione{
	margin-top: 60px;
}



.messaggio-errore{
	text-align:center;
	margin-top: 40px;
	color: red;
}