
.row > .col,
.row > [class*='col-'] {
    padding-right: 10px;
    padding-left: 10px;
}


#my-table {
    width: 100%;
}


/*prima colonna*/
.peso-isin {
	text-align: right;
    padding-right: 10px;  /* adjust as needed */
}


.input-form-pesi {
	max-width: 150px;
}


.input-form{
	width: 100%;
}


.btn{
	width: 100%;
	margin-top: 5px;
}



.label {
    padding-right: 10px;
}
.text-right {
    text-align: right;
}
.input-group .col-6 {
    width: 50%;
}
.dash-core-components .Select, .dash-core-components .Select div, .dash-core-components .Select input {
    width: 100% !important;
}
.dash-core-components .Select.is-focused:not(.is-open) > .Select-control {
    border-color: #96d38c !important;
    box-shadow: none !important;
}




.table-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-container table {
  margin-top: auto;
}